.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(214, 214, 214, 0.80);
    color: black;
    border-radius: 2px;
    pointer-events: none;
}
.d3-tip p {
    text-align: right
}
.d3-tip p span {
    float: left;
    margin-right: 10px;
}

.d3-tip.large-sd .sd {
    color: red;
}
.d3-tip.large-sd .sd span {
    background-color: red;
    color: white;
}


/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}
