html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px 20px;
}

@media (min-width: 1200px) {
    .container {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .nav-tabs > li {
        float:none;
    }
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Navigation */

.navbar-default {
    background-color: #4589e7;
    border: 0;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #130b1c;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #130b1c;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #130b1c;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #130b1c;
    background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #130b1c;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #130b1c;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #130b1c;
        background-color: #ffffff;
    }
}

/*****************************************************/
.at-input {
    margin-bottom: 20px;
}

#gene.loaded {
    color: darkgreen !important;
}

div.svg-images {
    margin-top: 25px;
}

div.svg {
    text-align: center;
    position: relative;
}
div.svg .svg-label {
    margin-right: 10px;
    font-weight: bold;
}

div.svg svg {
    height: 300px;
}

/* These are two important classes that make only parts of the svg file accessible for mouseover events */
div.svg svg g {
    pointer-events: none;
}
div.svg svg g.pointer-events {
    pointer-events: all;
    cursor: pointer;
}

div.svg img.warning-sign {
    display: none;
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 50px;
}

.tab-content > div.abs img.warning-sign.abs,
.tab-content > div.fc img.warning-sign.fc,
.tab-content > div.fc_tmp img.warning-sign.fc_tmp,
.tab-content > div.fc_spt img.warning-sign.fc_spt {
    display: block;
}

.download-drop {
    color: inherit;
}

#spinner {
    display: none;
}

/* DataTables */
table.dataTable thead th.sorting_asc,
    table.dataTable thead th.sorting_desc,
        table.dataTable thead th.sorting {
            background-position: right top 5px;
}

table.dataTable thead th {
    padding: 5px 0 2px 0;
    min-width: 123px;
}
table.dataTable thead input {
    border-radius: 3px;
    border: 1px solid lightgray;
}
table.dataTable tbody tr {
    cursor: pointer;
}
tr.selected td {
    background-color: #b0bed9;
}
table.dataTable tbody td.highlight {
    background-color: lightgray !important;
}
table.dataTable tbody td.save {
    background-color: inherit;
}
table.dataTable {
    font-size: 10px;
    white-space: nowrap;
}
.yadcf-filter {
    margin-right: 2px;
    width: 80px;
}
.yadcf-filter-range-number-seperator {
    margin: 1px;
}
.yadcf-filter-reset-button {

}
.yadcf-filter-wrapper {
    display: block;
    width: 80px;
}
input.inuse::selection {
    background-color: orange;
}
.yadcf-filter-wrapper-inner {
    border: 0;
}

table.dataTable .tooltip-inner {
    white-space: pre-wrap;
}

table.dataTable span.sd-warning, table.dataTable span.q-warning {
    color: red;
}

table.dataTable tr.topHeader th {
    background-color: #cfcfcf;
    font-size: 11px;
    color: black;
    padding: 10px 0 8px 15px;
    border-right: 5px solid white;
    border-bottom: 0;
}
/* Gene information */
.gene-information .selected {
    display: none;
}
pre.annotation {
    white-space: pre-wrap;
}

/* slider scale */
.slider-scale {
    float: left;
    height: 10px;
}
.scale-domain {
    width: 50px;
}
.scale .slider.slider-horizontal {
    width: 75%;
}

.scale .tooltip {
    z-index: 1010;
}

/* SVG Dropdown menu */
.dropdown-menu.actions {
    display: none;
    position: absolute;
}

/* table tools */
.table-text {
    float: left;
}
.table-tools {
    margin-bottom: 10px;
    float: right
}

/* mode */
.mode-note {
    margin-top: 20px;
}
#rootgradient .mode .mode-fc {
    display: none;
}
#rootgradient.fc .mode .mode-fc {
    display: block;
}
/* Column visibility dialog */
.visibilityModal .checkbox-inline {
    padding-left: 0;
}
.visibilityModal input {
    margin: 0;
}
.visibilityModal table.column-checkboxes {
    margin-top: 40px;
}
.visibilityModal th {
    padding-bottom: 5px;
    height: 20px;
    white-space: nowrap;
}
.visibilityModal th div {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    width: 20px;
}
.visibilityModal {
    font-size: 85%;
    margin-bottom: 20px;
}


/* Bootstrap dropdown submenu */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Experimental setup */
div.caption {
    font-size: 80%;
}
div.footnotes {
    font-size: 80%;
}
/* Start help */
#help p {
    font-weight: 300;
    color: #748796;
}
#help img {
    box-shadow: 5px 5px 2px #888888;
}
#help .row h3 {
    margin-top: 0;
}

#help .row > div {
    margin-bottom: 10%;
    padding-right: 10%;
}
@media (min-width: 1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0;
        padding-right: 0;
    }
    .row-lg-height {
        display: table-row;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
    }
}
.col-middle {
    vertical-align:middle;
}

/* Start */
.alert-welcome {
    background-color: #97BEF4;
    color: #0A5CCE;
}
.container.experiments {
    width: 100%;
    margin: 20px 0;
}
.experiments .experiment {
    display: block;
    margin: 10px;
    margin-top: 0;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    padding: 0;
    text-align: center;
    max-width: 180px;
}
@media(max-width:767px){
    .experiments .experiment {
        max-width: none;
    }
}
.experiments .experiment-description {
    background-color: #F6F6F6;
    border-top: 1px solid #E6E6E6;
    text-align: left;
    padding: 5px;
    border-radius: 4px;
    font-size: 80%;
    min-height: 130px
}
.experiments .experiment-description p {
    display: block;
}
.experiments .experiment img {
    width: 80%;
    max-width: 150px;
}

.experiments .experiment a {
    font-weight: bold;
}