html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px 20px;
}

@media (min-width: 1200px) {
    .wrap > .container {
        width: 90%;
    }
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Navigation */

.navbar-default {
    background-color: #4589e7;
    border: 0;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #130b1c;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #130b1c;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #130b1c;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #130b1c;
    background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #130b1c;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #130b1c;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #130b1c;
        background-color: #ffffff;
    }
}

/*****************************************************/
.at-input {
    margin-bottom: 20px;
}

div.svg-images {
    margin-top: 25px;
}

div.svg {
    text-align: center;
}

div.svg svg {
    width: 100%;
    height: 300px;
}

div.svg svg g {
    cursor: pointer;
}

#intact.abs g.warning-sign.abs {
    display: inline;
}
#intact.fc_tmp g.warning-sign.fc_tmp {
    display: inline;
}
#intact.fc_spt g.warning-sign.fc_spt {
    display: inline;
}

.download-drop {
    color: inherit;
}

#spinner {
    display: none;
}

/* DataTables */
table.dataTable thead th.sorting_asc {
    background-position: top right;
}
table.dataTable thead th.sorting_desc {
    background-position: top right;
}
table.dataTable thead th.sorting {
    background-position: top right;
}
table.dataTable thead th {
    padding: 0 0 2px 0;
    min-width: 123px;
}
table.dataTable thead input {
    border-radius: 3px;
    border: 1px solid lightgray;
}
table.dataTable tbody tr {
    cursor: pointer;
}
tr.selected td {
    background-color: #b0bed9;
}
table.dataTable tbody td.highlight {
    background-color: lightgray !important;
    transition: all 0.5s ease;
}
table.dataTable {
    font-size: 10px;
    white-space: nowrap;
}
.yadcf-filter {
    margin-right: 2px;
    width: 80px;
}
.yadcf-filter-range-number-seperator {
    margin: 1px;
}
.yadcf-filter-reset-button {

}
.yadcf-filter-wrapper {
    display: block;
    width: 80px;
}
input.inuse::selection {
    background-color: orange;
}
.yadcf-filter-wrapper-inner {
    border: 0;
}

#intactTable .tooltip-inner {
    white-space: pre-wrap;
}

#intactTable span.sd-warning {
    color: red;
}

/* Gene information */
#gene-information .selected {
    display: none;
}
pre.annotation {
    white-space: pre-wrap;
}

/* slider scale */
.slider-scale {
    float: left;
    height: 10px;
}
#scale .scale-domain {
    width: 50px;
}
#scale .slider.slider-horizontal {
    width: 75%;
}

/* SVG Dropdown menu */
.dropdown-menu.actions {
    display: none;
    position: absolute;
}

/* Column visibility dialog */
#visibilityModal .checkbox-inline {
    padding-left: 0;
}
#visibilityModal input {
    margin: 0;
}
#visibilityModal table.column-checkboxes {
    margin-top: 40px;
}
#visibilityModal th {
    padding-bottom: 5px;
    height: 20px;
    white-space: nowrap;
}
#visibilityModal th div {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    width: 20px;
}
#visibilityModal {
    font-size: 85%;
}

#visibilityModal p:first-of-type {
    margin-top: 20px;
}

/* Bootstrap dropdown submenu */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}